
body{
background-image: url(https://www.tuexpertoapps.com/wp-content/uploads/2017/04/fondos-de-pantalla-earthporn-04.jpg);
background-repeat: no-repeat;
background-size: cover;


}

.cabecera {
  
  background-color: antiquewhite;
  text-align: center;
  padding: 2px;
  text-shadow: 3px 3px 7px;
  width: 100%;
  display: grid;
  display: inline-block;


}
img{
  border-radius: 50%;
  border: 3px solid black;
  padding: top;
  
  
}


.grid-layau {
  width: 100%;
  grid-template-columns: 22% auto ;
  background-color: beige;
  display: grid;
  padding: 10px; 
  
  
}

#nav ul{
  display: flex;
  justify-content: center;
  list-style: none;
  background-color:beige;
 
}
#nav ul li{
  
  padding: 20px 20px;
  
  color: black ;
  width: 100%;
  

}
.datos-personales{
  background-color: rgb(53, 235, 150);
  padding-left: 5px;
  
}
.cuerpo{
  padding-left: 25px;
  justify-content: center;
}
footer{
  background-color: beige;
}